.header {
  display: flex;
  position: fixed;
  background: transparent;
  transition: 0.4s ease-in-out;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  max-width: 1280px;
  height: 74px;
  padding: 0 40px;
  top: 0;
  z-index: 2;
}

.test {
  width: 20px;
  height: 20px;
  background-color: #20a098;
}

.header__background {
  display: flex;
  position: fixed;
  background: linear-gradient(to right, #0B1822, #585C5F);;
  transition: 0.4s ease-in-out;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  max-width: 1280px;
  height: 74px;
  padding: 0 40px;
  top: 0;
  z-index: 2;
}

.header__logo {
  display: block;
  /* background-image: url("../../images/logo.png"); */
  background-image: url("../../images/logo4.jpg");
  text-decoration: none;
  box-sizing: border-box;
  width: 74px;
  height: 74px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

.header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__lang {
  display: block;
  position: relative;
  text-decoration: none;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 100%;
  background-color: #20a098;
  text-align: center;
  color: #fff;
  font-size: 0.75em;;
  margin: 0 15px;
}

.header__icon-hamburger {
  display: none;
  margin: 0;
}

.header__close-button {
  /* display: none; */
  background-size: auto;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: 400;
  color: #fff;
  width: 28px;
  height: 28px;
  border: none;
  padding: 0;
  background: rgba(0, 0, 0, 0)
}


@media screen and (max-width: 1024px) {
  .header__icon-hamburger {
    display: flex;
  }

  .header__close-button {
    /* display: flex; */
  }

  .header__navigation {
    display: none !important;
  }  
}

@media screen and (max-width: 768px) {
  .header__navtab {
    display: none;
  }
}

/*
@media screen and (max-width: 550px) {
  .header__links {
    min-width: 132px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: 0 14px
  }
} */
