.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 60px 40px;
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
  position: relative;
  background: linear-gradient(to right, #0B1822, #585C5F);
}

.register__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  padding: 60px 0;
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
  position: relative;
  /* background: linear-gradient(to right, #0B1822, #585C5F); */
}

.register__link-to-main {
  /* color: #fff; */
}

.register__header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  min-height: 148px;
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
  padding: 0 0 22px;
}

.register__fieldset-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 40px 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
  border: none;
}

.register__form {
  text-align: start;
}

/* .register__form-title {
  color: #fff
} */

.register__footer {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: none;
}

.register__footer__text {
  margin: 0 6px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #adabab;
}

.register__footer__button-login {
  /* margin: 0;
  padding: 0 5px;
  border-radius: 5px;
  line-height: 17px; */
  font-weight: 400;
  font-size: 14px;
  color: #20a098;
  border: none;
  background: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 768px) {
  .register__header {
    min-height: 310px;
  }

  .register__footer {
  }
}

@media screen and (max-width: 470px) {
  .register {
    width: calc(100% - 60px);
    align-items: center;
  }

  .register__header {
    justify-content: center;
    align-items: center;
    min-height: 144px;
    padding: 6px 0 0;
  }

  .register__fieldset-main {
    margin-top: 80px;
  }

  .register__header__links {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .register__footer {
    min-height: 261px;
    padding-top: 0;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .register__footer__text {
    font-size: 12px;
    line-height: 15px;
  }

  .register__footer__button-login {
    font-size: 12px;
    line-height: 15px;
  }
}


