.link-to-main {
  display: flex;
  justify-content: space-between;
  position: absolute;
  color: #adabab;
  align-items: end;
  top: 15px;
  left: 15px;
}

.link-to-main__link {
  font-weight: 500;
  font-size: 1em;
  color: #20a098;
  transition: 0.9s linear;
}

.link-to-main__link:hover {
  color: #20a098;
}

.link-to-main__span {
  font-weight: 500;
  font-size: 1em;
  margin: 0 15px;
}
