.nav-tab {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: fit-content;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.4s ease-in-out;
}

.nav-tab__child:hover {
  color: #20a098;
  cursor: pointer;
}

.nav-tab__signup {
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  padding: 2px;
}

.nav-tab__signin {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
  line-height: 16px;
  padding: 2px;
}

.nav-tab__child:nth-child(n) {
  margin-right: 15px;
}

.nav-tab__child:last-child {
  margin-right: 0;
}

/* .nav-tab__lang {
  display: block;
  position: relative;
  text-decoration: none;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 100%;
  background-color: #20a098;
  text-align: center;
  color: #fff;
  font-size: 11px;
} */

@media screen and (max-width: 550px) {
  .nav-tab {
    min-width: 132px;
  }

  .nav-tab__signup {
    font-size: 10px;
  }

  .nav-tab__signin {
    min-width: 54px;
    min-height: 26px;
    font-size: 10px;
    min-width: 54px;
    min-height: 26px;
  }
}
